<div>
    <!-- <a href=<%= "/page/"+1 %> >1</a>
    <a href=<%= "/page/"+2 %> >2</a>
    <a href="">...</a>
    <a href=<%= "/page/"+3 %> >3</a>
    <a href=<%= "/page/"+4 %> >4</a> -->


    <% if (pageData.totalPages<=10) { %>
        <% for(let i=1 ; i<=pageData.totalPages ; i++){ %>
        
            <a href=<%= "/page/"+i %>><%= i %></a> 

        <% } %>
    <% }else if((pageData.currentPage)+5>pageData.totalPages){ %>
        <%  %>
    
    <% }else { %>
        <% for(let i=(pageData.currentPage)-5 ; i<=(pageData.currentPage)+5 ; i++){ %>
            <% if(i<pageData.currentPage){ %>
                <a href=<%= "/page/"+i %>><%= i %></a> 
            <% }else if(i>pageData.currentPage){ %>
                <a href=<%= "/page/"+i %>><%= i %></a> 
            <% } %>
            
        <% } %>
    <% } %>
    
</div>