<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan&display=swap" rel="stylesheet">

    <title>Document</title>

</head>
<body>

    <!-- <h1>Title</h1>
    <form action="/" method="post">
        <label for="name">First name:</label><br>
        <input type="text" id="name" name="name"><br>
        
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age">

        <input type="submit" value="Submit">
    </form> -->

    <form class='newPostForm' action="/" method="post">
        <label for="postTitle"> Title </label>
        <input class='txtInput' type="text" id="fTitle" name="postTitle">
        
        <label for="postAuthor"> Author </label>
        <input class='txtInput' type="text" id="fAuthor" name="postAuthor">
        
        <label for="postContent"> Content</label>
        <input class='txtInput' type="text" id="fContent" name="postContent">

        <input class='btn' type="submit" value="Submit">
    </form>

    <% if (postData.length>0) { %>
        <% postData.forEach(post => { %>
            <br>
            
            <div class="postPreview">

                <section class="previewHeader">
                    <h1 class="title"><%= post.postTitle || 'Post Title' %></h1>
                    
                    <section class="authorBanner">
                        <a href="" class="userTag"><%= post.postAuthor || 'postAuthor' %></a> 
                        <p><%= post.postDate || 'Not Declared' %></p>
                    </section>
                </section>

                <section class="previewContent">
                    <p><%= post.postContent || 'Content' %>
                    </p>
                </section>

                <section class="previewFooter">
                    <button class="btn">Share</button>
                    <form action="/" method="post">
                        <input type="hidden" name="_id" value=<%= post._id %> />
                        <input type="submit" value="Delete" class="btn">
                    </form>
                </section>

            </div>
        <% }) %>
    <% } %>


<!-- 
    <div class="postPreview">

        <section class="previewHeader">
            <h1 class="title"><%= locals.postTitle || 'Post Title' %></h1>
            
            <section class="authorBanner">
                <a href="" class="userTag"><%= locals.postAuthor || 'postAuthor' %></a> 
                <p><%= locals.postDate || '04/12/2020' %></p>
            </section>
        </section>

        <section class="previewContent">
            <p><%= locals.postContent || 'Content' %>
            </p>
        </section>

        <section class="previewFooter">
            <button class="shareBtn">Share</button>
        </section>

    </div> -->

</body>
</html>
