<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="postPreview">

        <section class="previewHeader">
            <h1 class="title"><%= post.postTitle || 'Post Title' %></h1>
            
            <section class="authorBanner">
                <a href="" class="userTag"><%= post.postAuthor || 'postAuthor' %></a> 
                <p><%= post.postDate || 'Not Declared' %></p>
            </section>
        </section>

        <section class="previewContent">
            <img src=<%= post.postImg || 'https://i.5' %> alt="" srcset="">
            <p><%= post.postContent || '' %>
            </p>
        </section>

        <section class="previewFooter">
            <button class="btn">Share</button>
            <form action="/" method="post">
                <input type="hidden" name="_id" value=<%= post._id %> />
                <input type="submit" value="Delete" class="btn">
            </form>
        </section>

    </div>
    

    <%- include('./partials/footer.ejs') %>
</body>
</html>